---
import { getI18N } from "@/i18n";
import GlobeIcon from "@/assets/icons/globe.svg";
import GithubIcon from "@/assets/icons/github.svg";

interface Props {
  title: string;
  description: string;
  image?: string;
  preview?: string;
  code?: string;
  skills?: string[];
}

const { title, description, image, preview, code, skills } = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
  class="max-w-sm bg-white rounded-2xl shadow-sm dark:bg-accent overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out"
>
  <div class="relative overflow-hidden group">
    <img
      class="rounded-t-2xl transition-all duration-600 ease-in-out scale-125 group-hover:scale-110"
      src={image}
      alt={title}
    />
    <div
      class="absolute bottom-0 left-0 right-0 bg-black/50 backdrop-blur-md text-white px-5 py-2 flex items-center justify-between opacity-0 group-hover:opacity-100 transition-opacity duration-600"
    >
      <span class="text-sm font-bold">{title}</span>
      <div>
        <a
          href={preview}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors hover:text-black hover:bg-[#f5f5f5] py-2 size-8 px-0"
        >
          <GlobeIcon class="size-4" />
        </a>
        <a
          href={code}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors hover:text-black hover:bg-[#f5f5f5] py-2 size-8 px-0"
        >
          <GithubIcon class="size-4" />
        </a>
      </div>
    </div>
  </div>

  <div class="p-5">
    <p class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">
      {description}
    </p>
    <!-- colocar los skills aqui -->
    <div class="flex justify-between gap-2">
      <div class="flex gap-2 flex-wrap">
        {
          skills?.map((skill) => (
            <span class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground shadow hover:bg-primary/80">
              {skill}
            </span>
          ))
        }
      </div>
    </div>
  </div>
</div>
