---
import { getI18N } from "@/i18n";
import GlobeIcon from "@/assets/icons/globe.svg";
import GithubIcon from "@/assets/icons/github.svg";

interface Props {
  title: string;
  description: string;
  image?: string;
  preview?: string;
  code?: string;
}

const { title, description, image, preview, code } = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

console.log("Link: ", preview);
---

<div
  class="max-w-sm bg-white border border-gray-200 rounded-2xl shadow-sm dark:bg-transparent dark:border-gray-700 overflow-hidden"
>
  <div class="overflow-hidden">
    <a href={preview} target="_blank" rel="noopener noreferrer">
      <img
        class="rounded-t-2xl transition-all hover:scale-110"
        src={image}
        alt={title}
      />
    </a>
  </div>
  <div class="p-5">
    <a href="#">
      <h5
        class="mb-2 text-base font-semibold tracking-tight text-gray-900 dark:text-white"
      >
        {title}
      </h5>
    </a>
    <p class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">
      {description}
    </p>
    <div class="flex gap-2">
      <a
        href={preview}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:shadow-lg dark:shadow-blue-800/80"
      >
        <GlobeIcon class="size-3 mr-1" />
        {i18n.PROJECTS.BTN_VIEW}
      </a>
      <a
        href={code}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:shadow-lg dark:shadow-blue-800/80"
      >
        <GithubIcon class="size-3 mr-1" />
        {i18n.PROJECTS.BTN_SOURCE}
      </a>
    </div>
  </div>
</div>
